html {
  scroll-behavior: smooth;
  scroll-margin-bottom: 0;
}
/* ------- quote animation ----------*/
.quote-container {
  height: 100px;
}
@keyframes moveInL {
  0% {
    transform: translate(-1000%, 0);
  }
  100% {
    transform: translate(0%, 0);
  }
}

@keyframes moveInR {
  0% {
    transform: translate(1000%, 0);
  }
  100% {
    transform: translate(2%, 0);
  }
}

.left {
  font-family: "Rubik";
  font-size: 2.5em;
  font-weight: 700;
  animation-name: moveInL;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(1, 1.2, 0, 1);
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

.right {
  font-family: "Rubik";

  font-size: 2.5em;
  font-weight: 700;
  padding-left: 5;
  animation-name: moveInR;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(1, 1.1, 0, 1);
  animation-fill-mode: both;
  animation-delay: 0.5s;
}

/* ---- end of quote animation ------ */
/*----- project overlay --------- */

.project-row {
  flex-wrap: nowrap;
  padding: 5px;
}
.container_photo {
  background-color: rgba(57, 62, 93, 0.7);
  padding: 0;
  overflow: hidden;
  width: 100%;
  margin: 10px;
  border-radius: 10px;
}

.container_photo article {
  padding: 10%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.container_photo h2 {
  color: #fff;
  font-weight: 800;
  font-size: 25px;
  border-bottom: #fff solid 1px;
}

.container_photo h4 {
  font-weight: 300;
  color: #fff;
  font-size: 16px;
}

.container_photo img {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.4;
  -webkit-transition: all 4s ease;
  -moz-transition: all 4s ease;
  -o-transition: all 4s ease;
  -ms-transition: all 4s ease;
  transition: all 4s ease;
}

.popup-overlay {
  background-color: #8854d0;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  z-index: 1;
  opacity: 0;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0px, 70px);
  -moz-transform: translate(0px, 70px);
  -o-transform: translate(0px, 70px);
  -ms-transform: translate(0px, 70px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.popup-overlay span {
  font-size: 40px;
  color: #fff;
  position: relative;
  margin: 0 auto;
  width: 100%;
  top: 13px;
}

#eye-icon {
  color: #fff;
}
.container_photo:hover {
  cursor: pointer;
}

.container_photo:hover img {
  opacity: 0.1;
  transform: scale(1.5);
}

.container_photo:hover article {
  transform: translate(2px, -69px);
  -webkit-transform: translate(2px, -69px);
  -moz-transform: translate(2px, -69px);
  -o-transform: translate(2px, -69px);
  -ms-transform: translate(2px, -69px);
}

.container_photo:hover .popup-overlay {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  opacity: 1;
}

/* ---- end of project overlay ------- */

p {
  font-family: "Quicksand", sans-serif;
  color: #000;
  line-height: 1.5;
  font-size: 20px;
}
h1 {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: #3d3d3d;
  margin: 15px;
}

h2 {
  font-size: 3.75em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Saira Extra Condensed", sans-serif;
}

h4 {
  font-size: 1.875em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Saira Extra Condensed", sans-serif;
}

.navbar-brand {
  font-size: 1.875em;
  font-family: "Oswald", sans-serif;
}

/* --------- hamburger menu icon ---------- */

.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent;
}

.navbar-toggler .icon-bar {
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all 0.2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 30px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 15px;
  transition: ease all 0.2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 30px;
  transition: ease all 0.2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all 0.2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all 0.2s;
}

/* ----- end of hamburger menu icon ----- */

.subheading {
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #868e96;
}

.nav-item {
  font-size: 20px;
  font-family: "Saira Extra Condensed", sans-serif;
}

#quote {
  font-size: 28px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 10;
  width: "100%";
}

#lastName {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: #8854d0;
}

#contact-about {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Saira Extra Condensed", sans-serif;
  line-height: 1.5;
  color: #868e96;
  margin: 10px;
}

#email {
  color: #8854d0;
  line-height: 1.5rem;
  text-decoration: none;
  margin-left: 20px;
  font-size: 30px;
}

#project-links {
  margin-top: 5;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-family: "Quicksand", "sans-serif";
}

#info {
  font-size: 20px;
}

#skill-list {
  font-size: 18px;
}

#date {
  color: #8854d0;
  min-width: none;
  font-size: 22px;
  min-width: 20rem;
  flex-shrink: 0;
  text-align: center;
  font-family: "Saira Extra Condensed", sans-serif;
}

.social-icons {
  width: 200px;
}

#icon {
  font-size: 30px;
  margin-right: 10px;
  background: #495057;
  color: #ffffff;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#icon:hover {
  background-color: #8854d0;
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#github-projects {
  margin-left: 3px;
}

#skill-icon {
  font-size: 45px;
  margin-right: 20px;
  background: #ffffff;
  color: #596275;
  padding: 5px;
  border-radius: 50%;
}

#skill-icon:hover {
  color: #8854d0;
  transform: scale(1.35);
}

#skill-list {
  margin-top: 1em;
  line-height: 3em;
}

#checkmark {
  font-size: 15px;
  padding-right: 10px;
  color: #8854d0;
}
#more-projects {
  font-size: 1.5em;
}

#guitar-img {
  width: 400px;
  height: 500px;
}

#label {
  font-family: "Quicksand";
  color: #000;
}
input {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
textarea {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

#modal {
  color: #00b894;
  font-size: 1em;
  margin-right: 10px;
}

#footer-icon {
  font-size: "1.3em";
  padding: "10px";
  color: "#fff";
}

@media only screen and (max-width: 991.98px) {
  /* For mobile phones: */

  /* --- collapse hamburger menu alignment -- */

  #navbarNav {
    text-align: center;
  }
  .nav-link {
    padding: 1rem;
    font-size: 1.5em;
  }

  /* ----- quote animation ------- */
  @keyframes moveInL {
    0% {
      transform: translate(-1000%, 0);
    }
    100% {
      transform: translate(-4%, 0);
    }
  }

  @keyframes moveInR {
    0% {
      transform: translate(1000%, 0);
    }
    100% {
      transform: translate(-3%, 0);
    }
  }
  .left {
    font-family: "Rubik";
    font-size: 2em;
    font-weight: 700;
    animation-name: moveInL;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 1.2, 0, 1);
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }

  .right {
    font-family: "Rubik";

    font-size: 2em;
    font-weight: 600;
    padding-left: 5;
    animation-name: moveInR;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 1.1, 0, 1);
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }

  /* ---- end of quote animation ----- */

  #projects {
    padding: 3rem;
  }

  .container_photo {
    background-color: rgba(57, 62, 93, 0.7);
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    /* height: 500px; */
    margin: 6px;
  }

  #phone {
    text-align: center;
  }

  #about-me {
    text-align: center;
  }

  #skills {
    text-align: center;
    margin-bottom: 0;
  }
  #skill-list {
    text-align: left;
  }

  #projects {
    text-align: center;
  }

  #experience-title {
    text-align: center;
  }

  #info {
    line-height: 2em;
  }

  #interests {
    text-align: center;
  }
  #guitar-img {
    max-width: 250px;
    height: 300px;
  }
  #contact-title {
    text-align: center;
  }
  #contact-info {
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 767.98px) {
  /* --- collapse hamburger menu alignment -- */
  .nav-link {
    padding: 1rem;
    font-size: 1.5em;
  }

  /* --- quote animation --- */

  .quote-container {
    margin-bottom: 10em;
  }
  @keyframes moveInL {
    0% {
      transform: translate(-1000%, 0);
    }
    100% {
      transform: translate(-4%, 0);
    }
  }

  @keyframes moveInR {
    0% {
      transform: translate(1000%, 0);
    }
    100% {
      transform: translate(-3%, 0);
    }
  }

  .left {
    font-family: "Rubik";
    font-size: 30px;
    font-weight: 700;
    animation-name: moveInL;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 1.2, 0, 1);
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }

  .right {
    font-family: "Rubik";
    font-size: 30px;
    font-weight: 700;
    padding-left: 5;
    animation-name: moveInR;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 1.1, 0, 1);
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }
  /* ---- end of quote animation --- */

  p {
    text-align: "left";
    font-size: 16px;
  }

  .container_photo {
    background-color: rgba(57, 62, 93, 0.7);
    padding: 0;
    overflow: hidden;
    max-width: 100%;
    /* height: 500px; */
    margin: 6px;
  }

  #contact-about {
    font-size: 22px;
    margin-left: 0;
  }
  #info {
    font-size: 16px;
    text-align: left;
    padding: 0;
    line-height: 2em;
  }

  #phone {
    text-align: center;
    display: inline-block;
    margin-right: 1em;
  }

  #firstName {
    font-size: 3em;
  }
  #lastName {
    font-size: 1em;
  }

  #email {
    display: inline-block;
    font-size: 27px;
  }
  #phone {
    margin-left: 2.5em;
  }

  #quote {
    font-size: 22px;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  #softSkills {
    width: 100%;
  }
  #skill-list {
    line-height: 3em;
    display: inline-block;
    margin-top: 2em;
    word-wrap: none;
    font-size: 1em;
    text-align: left;
  }

  #more-projects {
    font-size: 1.1em;
  }

  #education-info {
    line-height: 2em;
  }

  #experience-info {
    line-height: 2em;
  }
  .experience-container {
    padding: 0;
    text-align: left !important;
  }
  #guitar-img {
    width: 500px;
    height: 300px;
  }

  #date {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    font-size: 22px;
    min-width: 0;
    text-align: left;
  }
  #contact-title {
    text-align: center;
  }
  #contact-text {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 575.98px) {
  /* --- collapse hamburger menu alignment -- */
  .nav-link {
    padding: 1rem;
    font-size: 1.2em;
  }

  /* ---- quote animation ------ */

  @keyframes moveInL {
    0% {
      transform: translate(-1000%, 0);
    }
    100% {
      transform: translate(-5%, 0);
    }
  }

  @keyframes moveInR {
    0% {
      transform: translate(1000%, 0);
    }
    100% {
      transform: translate(-3%, 0);
    }
  }
  .left {
    font-family: "Rubik";
    font-size: 1.2em;
    /* padding-bottom: 5px; */
    font-weight: 700;
    animation-name: moveInL;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 1.2, 0, 1);
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }

  .right {
    font-family: "Rubik";

    font-size: 1.2em;
    font-weight: 600;
    padding-left: 5;
    animation-name: moveInR;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: cubic-bezier(1, 1.1, 0, 1);
    animation-fill-mode: both;
    animation-delay: 0.5s;
  }
  /* ---- end of quotation animation ---- */

  /* -- project overlay --- */
  .container_photo {
    max-width: 450px;
    height: 15em;
    margin: 10px;
  }
  /* --- end of project overlay --- */

  h1 {
    font-size: 2.8em;
  }

  .about-container {
    font-size: 16px;
    max-width: 1000px;
    text-align: left !important;
  }

  p {
    text-align: "left";
    font-size: 16px;
    max-width: "1000px";
  }

  .quote-container {
    padding: 0px 5px 0px 5px;
    height: 100px;
    text-align: center;
  }

  #contact-about {
    flex-wrap: wrap;
    font-size: 16px;
    text-align: center;
    /* padding-left: 3.75em; */
  }
  #email {
    font-size: 15px !important;
  }
  .social-icons {
    font-size: 18px;
  }
  .dev-icons {
    margin-left: 20px;
  }
  #softSkills {
    text-align: center;
  }
  #skill-list {
    text-align: left;
  }

  #lastName {
    font-size: 1em;
  }

  #quote {
    font-size: 20px;
    width: 100%;
  }

  #info {
    font-size: 16px;
    text-align: left;
    padding: 0;
    line-height: 2em;
  }

  .experience-container {
    margin-top: 2em;
  }
  .education-container {
    max-width: 1000px;
    margin-top: 2em;
    text-align: left;
  }
  #education-info {
    max-width: 1000px;
  }

  /* needed to center education title. need to fix this */
  .education-header {
    text-align: center !important;
  }
  #projects {
    margin-bottom: 0;
  }
  #project-title {
    padding: 0;
  }

  #project-links {
    font-size: 1em;
  }
  #experience {
    margin-bottom: 0;
  }

  #date {
    margin-bottom: 1em;
    font-size: 22px;
    min-width: 0;
    margin-left: 0;
  }
  #guitar-img {
    max-width: 200px;
    height: 300px;
  }
  .subheading {
    font-size: 22px;
  }
  #contact-text {
    text-align: left;
  }

  form #label {
    text-align: left;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  word-wrap: break-word;
}
