html {
  scroll-behavior: smooth;
  scroll-margin-bottom: 0;
}

body {
  position: relative;
}

.navbar-brand {
  font-size: 1.875em;
  font-family: "Oswald", sans-serif;
}
/* --------- hamburger menu ---------- */

.navbar-toggle {
  border: none;
  background: transparent !important;
}

.navbar-toggle:focus {
  outline: none;
  background: transparent;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all 0.2s;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggle:hover > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggle:active > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all 0.2s;
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(5px, 4px);
  transition: ease all 0.2s;
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all 0.2s;
}

.navbar-toggle:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -4px);
  transition: ease all 0.2s;
}

/* ----- end of hamburger menu ----- */

h2 {
  font-size: 3.75em;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Saira Extra Condensed", sans-serif;
}

h4 {
  font-size: 1.875em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Saira Extra Condensed", sans-serif;
}

p {
  font-family: "Quicksand", sans-serif;
  color: #596275;
  line-height: 1.5;
}

.subheading {
  font-family: "Saira Extra Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  color: #868e96;
}

.nav-item {
  font-size: 20px;
  font-family: "Saira Extra Condensed", sans-serif;
}

#quote {
  font-size: 28px;
  font-family: "Saira Extra Condensed", sans-serif;
  font-weight: 10;
}

/* #profile-photo {
border: 2px solid #fff;
box-shadow: inset 0 1.5px 3px 0 rgba(0,0,0,.15), 0 1.5px 3px 0 rgba(0,0,0,.15);
margin: -38px auto 12px;
background-color: #fff;
width: 152px;
height: 152px;
box-sizing: border-box;
background-clip: content-box;
border: 1px solid transparent;
border-radius: 49.9%;
} */

#firstName {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: #3d3d3d;
}

#lastName {
  text-transform: uppercase;
  font-size: 70px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: #8854d0;
}

#phone {
  text-transform: uppercase;
  font-size: 30px;
  font-family: "Saira Extra Condensed", sans-serif;
  line-height: 1.5;
  color: #868e96;
}

#email {
  color: #8854d0;
  line-height: 1.5rem;
  text-decoration: none;
}

#page-top {
  padding: 15px;
}

#about-me {
  font-size: 20px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238854d0' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%238854d0' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#project-title {
  font-size: 30px;
  font-family: "Saira Extra Condensed", sans-serif;
  padding-right: 80px;
}

#project-info {
  max-width: 520px;
}

#project-links {
  margin-top: 1em;
}

#more-projects {
  font-size: 1.5em;
}

#experience-info {
  font-size: 20px;
}

#skill-list {
  font-size: 18px;
}
#softSkills {
  display: inline-block;
}

#interest-info {
  font-size: 20px;
}

#contact-info {
  font-size: 20px;
}

#education-info {
  font-size: 20px;
}

#project-info {
  font-size: 20px;
}

#date {
  color: #8854d0;
  min-width: none;
  font-size: 20px;
  min-width: 20rem;
  flex-shrink: 0;
  text-align: center;
}

.social-icons {
  width: 200px;
}

#linked-in-icon {
  font-size: 30px;
  margin-right: 15px;
  background: #495057;
  color: white;
  padding: 15px;
  border-radius: 50%;
}

#linked-in-icon:hover {
  background-color: #8854d0;
}

#github-icon {
  font-size: 30px;
  background: #495057;
  margin-right: 15px;
  color: white;
  padding: 15px;
  border-radius: 50%;
}

#github-icon:hover {
  background-color: #8854d0;
}

#resume-icon {
  font-size: 30px;
  background: #495057;
  color: white;
  padding: 15px;
  border-radius: 50%;
}

#resume-icon:hover {
  background-color: #8854d0;
}

#live-page {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-weight: bold;
  cursor: hand;
  font-size: 18px;
  text-decoration: none;
  margin-right: 1em;
}
#live-page:hover {
  color: #8854d0;
}

#github-page {
  font-family: "Quicksand", sans-serif;
  color: black;
  font-weight: bold;
  cursor: hand;
  font-size: 18px;
  text-decoration: none;
  margin-left: 1em;
}

#github-page:hover {
  color: #8854d0;
}

#github-projects {
  margin-left: 3px;
}

#html-icon {
  font-size: 45px;
  margin-right: 20px;
  background: white;
  color: #596275;
  padding: 5px;
  border-radius: 50%;
}

#css-icon {
  font-size: 45px;
  margin-right: 20px;
  background: white;
  color: #596275;
  padding: 5px;
  border-radius: 50%;
}

#checkmark {
  font-size: 15px;
  padding-right: 10px;
  color: #8854d0;
}

#js-icon {
  font-size: 45px;
  margin-right: 20px;
  background: white;
  color: #596275;
  padding: 5px;
  border-radius: 50%;
}

#react-icon {
  font-size: 45px;
  margin-right: 20px;
  background: white;
  color: #596275;
  padding: 5px;
  border-radius: 50%;
}

#node-icon {
  font-size: 45px;
  margin-right: 20px;
  background: white;
  color: #596275;
  padding: 5px;
  border-radius: 50%;
}

#npm-icon {
  font-size: 45px;
  margin-right: 20px;
  background: white;
  color: #596275;
  padding: 5px;
  border-radius: 50%;
}

#git-icon {
  font-size: 45px;
  margin-right: 20px;
  background: white;
  color: #596275;
  padding: 5px;
  border-radius: 50%;
}

#slack-icon {
  font-size: 45px;
  margin-right: 20px;
  background: white;
  color: #596275;
  padding: 5px;
  border-radius: 50%;
}

.carousel {
  width: 500px;
  height: 360px;
}

.carousel-item {
  height: 280px;
}

.carousel-item img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-height: 280px;
}

#modal {
  color: #00b894;
  font-size: 1em;
  margin-right: 10px;
}

@media only screen and (max-width: 991.98px) {
  /* For mobile phones: */
  #firstName {
    text-align: center;
  }
  #phone {
    text-align: center;
  }

  #about-me {
    text-align: center;
  }

  #skills {
    text-align: center;
  }
  #softSkills {
    margin-top: 5em;
  }
  #tools {
    margin-top: 5em;
  }
  #projects {
    text-align: center;
  }

  #carouselExampleControls-movie {
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  #carouselExampleControls-mortgage {
    width: 100%;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  #carouselExampleControls-Jokes {
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
  }
  #project-title {
    margin-left: 2em;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  #project-info {
    max-width: 680px;
  }

  #experience {
    text-align: center;
  }

  #experience-info {
    line-height: 2em;
  }

  #education {
    text-align: center;
  }
  #education-info {
    line-height: 2em;
  }

  #interests {
    text-align: center;
  }
  #contact-title {
    text-align: center;
  }
  #contact-info {
    text-align: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 767.98px) {
  #phone {
    text-align: center;
    display: inline-block;
    margin-right: 1em;
  }

  #email {
    display: inline-block;
  }

  #carouselExampleControls-movie {
    width: 100%;
    margin-left: 0;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  #carouselExampleControls-mortgage {
    width: 100%;
    margin-left: 0;
    margin-bottom: 2em;
    margin-top: 2em;
  }
  #carouselExampleControls-Jokes {
    width: 100%;
    margin-left: 0;
    margin-bottom: 2em;
    margin-top: 2em;
  }

  #date {
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 1em;
    margin-left: 2em;
    font-size: 1em;
  }
  /* #page-top {
    text-align: center;
  } */

  #firstName {
    font-size: 3em;
  }
  #lastName {
    font-size: 1em;
  }

  #email {
    display: inline-block;
    font-size: 27px;
  }
  #phone {
    margin-left: 2.5em;
  }

  #quote {
    font-size: 22px;
    width: 100%;
  }

  #skill-list {
    line-height: 3em;
    display: inline-block;
    margin-top: 2em;
    word-wrap: none;
    font-size: 1em;
  }

  #more-projects {
    font-size: 1.1em;
  }

  #education-info {
    line-height: 2em;
  }
  #experience-info {
    line-height: 2em;
  }

  #date {
    margin-top: 1em;
    margin-bottom: 1em;
    /* margin-right: 5; */
    /* margin-left: 2em; */
    font-size: 15px;
    min-width: 0;
  }
  #contact-title {
    text-align: center;
  }
}

@media only screen and (max-width: 575.98px) {
  /* #page-top {
    text-align: center;
  } */
  #firstName {
    font-size: 2em;
  }
  #lastName {
    font-size: 1em;
  }

  #email {
    display: inline-block;
    font-size: 23px;
  }
  #phone {
    font-size: 23px;
    margin-left: 0;
  }

  #quote {
    font-size: 22px;
    width: 100%;
  }

  #skill-list {
    line-height: 3em;
    display: inline-block;
    margin-top: 2em;
    word-wrap: none;
    font-size: 1em;
  }

  #more-projects {
    font-size: 1.1em;
  }

  #carouselExampleControls-movie {
    width: 100%;
  }
  #carouselExampleControls-mortgage {
    width: 100%;
  }
  #carouselExampleControls-Jokes {
    width: 100%;
  }

  #education-info {
    line-height: 2em;
  }
  #experience-info {
    line-height: 2em;
  }

  #date {
    margin-top: 1em;
    margin-bottom: 1em;
    /* margin-right: 5; */
    /* margin-left: 2em; */
    font-size: 15px;
    min-width: 0;
  }
  #interest-info {
    font-size: 20px;
  }
  form #label {
    text-align: left;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  word-wrap: break-word;
}
